In [79]:
import pandas as pd
import numpy as np
import seaborn as sb
csv_file='C:/Users/DELL/Desktop/AI bootcamp/getting started/venv/data.csv'
df=pd.read_csv(csv_file)
print(df)

      neighbourhood_group  longitude  latitude        room_type  price  \
0                Brooklyn  -73.97237  40.64749     Private room    149
1               Manhattan  -73.98377  40.75362  Entire home/apt    225
2               Manhattan  -73.94190  40.80902     Private room    150
3                Brooklyn  -73.95976  40.68514  Entire home/apt     89
4               Manhattan  -73.94399  40.79851  Entire home/apt     80
...                   ...        ...       ...              ...    ...
48890            Brooklyn  -73.94995  40.67853     Private room     70
48891            Brooklyn  -73.93317  40.70184     Private room     40
48892           Manhattan  -73.94867  40.81475  Entire home/apt    115
48893           Manhattan  -73.99112  40.75751      Shared room     55
48894           Manhattan  -73.98933  40.76404     Private room     90

       minimum_nights  Neighbourhood  RoomType
0                   1              1         1
1                   1             -1        -1
2                   3             -1         1
3                   1              1        -1
4                  10             -1        -1
...               ...            ...       ...
48890               2              1         1
48891               4              1         1
48892              10             -1        -1
48893               1             -1         0
48894               7             -1         1

[48895 rows x 8 columns]

In [80]:
cols_to_drop=['neighbourhood_group','room_type']
df=df.drop(cols_to_drop,axis=1)
df.head(20)

    longitude  latitude  price  minimum_nights  Neighbourhood  RoomType
0   -73.97237  40.64749    149               1              1         1
1   -73.98377  40.75362    225               1             -1        -1
2   -73.94190  40.80902    150               3             -1         1
3   -73.95976  40.68514     89               1              1        -1
4   -73.94399  40.79851     80              10             -1        -1
5   -73.97500  40.74767    200               3             -1        -1
6   -73.95596  40.68688     60              45              1         1
7   -73.98493  40.76489     79               2             -1         1
8   -73.96723  40.80178     79               2             -1         1
9   -73.99037  40.71344    150               1             -1        -1
10  -73.96545  40.80316    135               5             -1        -1
11  -73.98867  40.76076     85               2             -1         1
12  -73.98779  40.66829     89               4              1         1
13  -73.96113  40.79826     85               2             -1         1
14  -74.00525  40.73530    120              90             -1        -1
15  -73.95352  40.70837    140               2              1        -1
16  -73.97185  40.69169    215               2              1        -1
17  -73.99501  40.74192    140               1             -1         1
18  -73.94694  40.67592     99               3              1        -1
19  -73.94872  40.79685    190               7             -1        -1

In [81]:
#separation  into x and y values 
#from sklearn.ensemble import RandomForestClassifier
x=df.iloc[:,0:-1]
y=df.iloc[:,-1] #roomtype (target values)

In [83]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
#Decision tree classifier
from sklearn import tree
dt_clf=tree.DecisionTreeClassifier(max_depth=10)
#making prediction
dt_clf.fit(x_train, y_train)
#checking score of classifier
y_pred=dt_clf.predict(x_test)
dt_clf.score(x_test,y_test)

0.8222782739109687

In [84]:
from sklearn. metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          -1       0.84      0.85      0.85      7599
           0       0.66      0.19      0.30       349
           1       0.80      0.82      0.81      6721

    accuracy                           0.82     14669
   macro avg       0.77      0.62      0.65     14669
weighted avg       0.82      0.82      0.82     14669

In [ ]:
#Precision is the amount of identifications that are actually correct.
#Recall indicates the proportion of actual positives which were correctly classified 
#F1 score is a combination of precision and recall
  #a perfrct model has Precison ,recall and F1 score of 1.0
#support is the number of samples each metric was calculated on
#Accuracy is the percentage of labels that the model successfully predicted
#macro Avg is the arithmetic mean of the individual class related to precision,memory,and f1 score
#weigted average is the average considering the proportion for each label in the data set.